.columns {
  width: 100%;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 0;
  grid-template-columns: repeat(4, auto);
  margin-bottom: .5em;
}

.column {
  padding: 1em 0 .5em 0;
  &:nth-child(n + 5) {
    padding: 0 0 .5em 0;
    ul {
      margin: 0;
      h2 {
        margin-top: 0;
      }
    }
  }
}

h2 {
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-bottom: 0;
}

li.link {
  padding-bottom: .5em;
  a {
    color: $text;
    text-decoration: none;
  }
}
