$background:#09001a;
$panel: #160038;
$border: #6f36ca;
$image-overlay: #6f36ca;
$button: #9063de;
$text: #ffffff;

body {
  background-color: $background;
  color: $text;
  font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

@import "panel";

@import "header";

@import "search";

@import "content";

@import "footer";
